<div class="col-xs-4 col-sm-12 clarity m10">
			<a href="/portfolio">
				<img src="images/b58d411b.web.png" class="resume point">
				<p class="big">Web</p>
			</a>
		</div>
		<div class="col-xs-4 col-sm-12 clarity m10">
			<a href="/apps">
				<img src="images/158c8114.mobile.png" class="resume point">
				<p class="big">Mobile</p>
			</a>
		</div>
		<div class="col-xs-4 col-sm-12 clarity">
			<a href="/resume">
				<img src="images/9101ba57.finance.png" class="resume point">
				<p class="big">Finance</p>
			</a>
		</div>