<div ng-include="'partials/headbar'"></div>

<div ng-include="'partials/navbar'" ng-controller="NavCtrl"></div>


<!-- Say hello to the new type of Blog -->
<div class="col-xs-12">

	<!-- These are the filterable options for the home page -->
	<div class="double mb-20 pt-15" ng-class="{'puke':question, 'green':information, 'nasty':filter}">
		<p class="black-back white" ng-show="success">{{success}}</p>
		<div class="silver-back round pull-right double center hover-black point min-h100 max33" ng-click="question=false; information=!information; filter=false;">i</div>
		<div class="silver-back round pull-right double center hover-black point min-h100 max33" ng-click="information=false; question=!question; filter=false;">?</div>
		<div class="silver-back round pull-right double center hover-black point min-h100 max33" ng-click="question=false; information=false; filter=!filter;">+</div>
		
		<div class="form-group px16" ng-show="filter">
			Get Emails for New posts...		
			<input class="form-control subscribe" type="email" ng-model="subscriberEmail" placeholder="Email" ng-click="subscribe()">
			<button class="subscribe-button" ng-class="{'dark-black': subscriberEmail.length > 0}" ng-click="subscribe()">Subscribe</button>
		</div>
		<div class="form-group px16" ng-show="question">
			Provoke me...
			<textarea class="min300 form-control dubs" placeholder="Ask me a question..." ng-model="blog.question"></textarea>
			<input class="form-control m10" type="text" ng-model="blog.name" placeholder="Anonymous">
			<input class="form-control m10" type="text" ng-model="blog.email" placeholder="Email (Optional)">
			<input class="form-control silver-back" type="submit" value="Ask" ng-click="setPost()">
		</div>
		<div class="laws px16" ng-show="information">
			<div class="col-xs-2 flag-pic">
				<img src="images/1ef279e9.flag.png">
			</div>
			<div class="col-xs-10">
				<p>I take a slightly different approach to blogging.  Instead of me rambling on about the uselessness of box springs, I would like readers to pick the subject. Lastly, I don't have/store users because I'd like anybody & everybody to share their thoughts in comments.</p>
				<br>
				<p>Rules of the blog</p>

				<ul class="indent bold">
					<li>Comments are mandatory</li>
					<li>Don't say anything i have to delete</li>
					<li>Ask me questions , about anything... </li>
					<li>Never stop learning</li>
					<li>Troll as long as its entertaining.. to me</li>
				</ul>
			</div>
		</div>
		<div class="lh-100 bold special" ng-class="{'clear white-back': question || filter || information}">
			Filter:
			<select ng-init="option=filterOptions[1]" ng-model="option" ng-change="useFilter(option.use)" ng-options="option.name for option in filterOptions"></select>
			<!-- <button ng-click="useFilter('totalComments')">Comments</button> -->
			<!-- <button ng-click="useFilter('created')">Recent</button> -->
			<!-- <button ng-click="useFilter('random')">Mystery</button> -->
		</div>
	</div>
	


	<!-- All Blog Posts are layed out in a nice and simple fashion -->
	<div class="blog-sum point clear" ng-repeat="blog in blogs">
		<a class="blog-sum-back" ng-href="requests/{{blog._id}}">
			<div class="col-sm-1 black-back center white blog-date max-w-150">
				{{blog.created | date:'dd'}}
				<br>
				<span class="search-smaller">{{blog.created | date:'MMM'}}</span>
			</div>
			<div class="col-xs-12 col-sm-10">
				<h2 class="blog-title black">
					{{blog.question}}
				</h2>
				<p class="text-muted bigger">
					Asked By: {{blog.askedBy}} - {{blog.created | date:'mediumDate'}} -
					<span class="comments-total">{{blog.totalComments}} Comments </span>
				</p>
			</div>
			<div class="col-xs-1 full-height hide-small">
				<img src="images/a33e0727.blog-show.png" class="full-image">
			</div>
		</a>	
	</div>
	
</div>

<div ng-include="'partials/footer'"></div>