<footer>
	&copy geerydev <%= (new Date()).getFullYear() %> - <a href="/requests">Blog</a> - <a href="/about">About</a> - <a href="/portfolio">Projects</a> - <a href="https://www.github.com/tylergeery">Github</a>
</footer>
