<div ng-include="'partials/headbar'"></div>

<div ng-include="'partials/navbar'"></div>

<div class="right col-sm-3 hide-small" ng-class="{'fixed top0': scroll > 250, 'absolute top250': scroll <= 250}">
	<h3 class="strategic black-back white pad-box small-radius">Popular Posts</h3>
	<div class="point black-border-bottom pad-box overflow-hidden" ng-repeat="s in sideStuffers" ng-click="followBlog(s._id)">
 		{{s.question | limitTo:40}}...
  		<div class="pull-right white black-back small-radius cal-date-box">
  			{{s.created | date:'dd'}}
  			<br>
  			{{s.created | date:'MMM'}}
  		</div>  	
	</div>
</div>
<!-- Section for about content pertaining to ME -->
<div class="col-xs-12 col-sm-9">

	

	<div class="col-xs-12">
		<h3 class="biggest center">About Me</h3>
		<p class="bigger pad-box">
			I'm a finance enthusiast, a web and mobile developer, life learner, sports fan, and optimistic DO'er. I'm very casual and I pride myself on an easy-going and honest personality.  I work hard to keep a strong work-ethic, open mind, and aspire to make my own Jobsian "dent in the world."  I don't believe in intelligence, I believe in grit and creativity.  And most importantly, I believe the way to truly understand something is to write it on the web in front of 2 billion possible critics.  
		</p>
		<p class="bigger pad-box">
			With that I should mention.  I'm not sure that I always believe what I say, but I write it here nonetheless.  Helps me think.  Even more so, I appreciate a good argument, so please leave a comment if I get too out of hand.  Or even a little, but please be civilized.  I know my views on the obsolete nature of the box-spring are not always welcomed.
		</p>
		<p class="bigger pad-box">
			I currently work in finance for a telecom company in Santa Barbara, CA.  I am a hobbyist developer.  Most of my web development has been under a MEAN stack.  I have an affinity for anythingJS, and work regularly with Python, and objective-C for iOS.  I really enjoy my time programming and look forward to exploring the possibilities.
		</p>
		<p class="bigger pad-box">
			I am open to new opportunities and would appreciate the opportunity to work with you.  Please reach out to me with any questions/comments/concerns.
		</p>
		<p class="contact information clear bio pax-box">
			<a href="mailto:geerybot@gmail.com">
				<img src="images/91cefc0a.mail.png" class="pr-15">Email</a> 
		</p>

	</div>	

</div>

<div ng-include="'partials/footer'"></div>