<div ng-include="'partials/headbar'"></div>

<div ng-include="'partials/navbar'" ng-controller="NavCtrl"></div>


<!-- Section for about content pertaining to ME -->
<div class="col-xs-12 col-sm-10 col-sm-offset-1">

	<div class="single-question double biggest pt-15" style="padding-left:0">Happenings</div>
	<div ng-repeat="exp in stuff">
		<div class="project-tab-bar point" ng-init="detail=false" ng-click="detail=!detail">
			
			<img class="fun-img" ng-src="images/{{exp.image}}">
			{{exp.title}}
		</div>
		<div class="silver-back col-xs-12 big pad-box mt-10 mb-20" ng-show="detail">
			<span ng-bind-html="exp.detail"></span>
			<p class="pad-box">
				Follow the project <a ng-href="{{exp.link}}">here...</a>
			</p>
		</div>		
	</div>	

</div>


<div ng-include="'partials/footer'"></div>