<div ng-include="'partials/headbar'"></div>
<div class="single-question col-xs-12 col-sm-9">
	<div class="col-xs-2 black-back center white blog-date double">
		{{single.created | date:'dd'}}
		<br>
		<span class="search-smaller">{{single.created | date:'MMM'}}</span>
	</div>
	<h2 class="col-xs-10 single-question-headline"> {{single.question}} </h2>
</div>
<div class="col-xs-12 col-sm-9 single black mt-20 bigger response" ng-bind-html="single.response | unsafe">
</div>
<div class="col-xs-12 col-sm-9 double black point clearfix mt-40 comment-container form" ng-init="leaveComment=false" ng-class="{'silver-back': leaveComment}">
	<div class="point" ng-click="leaveComment=!leaveComment">
		<span class="black-back round white rl-p10 center" ng-show="!leaveComment">+</span>
		<span class="black-back round white rl-p10 center" ng-show="leaveComment">-</span>
		<span class="rl-p10">Click to Reply</span>
	</div>
	<div class="col-xs-12 col-sm-offset-1 col-sm-7 form-group mt-20" ng-show="leaveComment">
		<label for="name">Name</label>
		<input type="text" class="form-control white-back" id="name" ng-model="reply.name" placeholder="Anonymous">
	</div>
	<div class="col-xs-12 col-sm-offset-1 col-sm-7 form-group" ng-show="leaveComment">
		<label for="email">Email</label>
		<input type="email" class="form-control white-back" id="email" ng-model="reply.email">
		<p class="info">Will only be used to notify you of replies</p>
	</div>
	<div class="col-xs-12 col-sm-offset-1 col-sm-9 form-group" ng-show="leaveComment">
		<label for="content">Reply</label>
		<textarea class="form-control white-back min300" id="content" ng-model="reply.content">
	</div>
	<div class="col-xs-12 error" ng-show="leaveComment && replyWarning && !reply.content">{{replyWarning}}</div>
	<div class="col-xs-12 form-group mt-20" ng-show="leaveComment">
		<input type="submit" class="form-control white-back" id="enter" ng-click="submitReply()" value="Submit Reply">
	</div>
</div>

<div class="col-xs-12 col-sm-offset-1 col-sm-10 mt-40">
	<p class="double text-muted">Comments</p>
</div>

<div class="single-comments col-xs-12 col-sm-offset-1 col-sm-10 double-indent" ng-repeat="comment in comments" ng-class="{'indent': comment.responseTo == comment.responseHead, 'overwrite': comment._id == comment.responseHead}" ng-mouseover="$root.setFollow(comment.responseTo)">
	<div class="float-left">
			<img class="point shooter" src="images/1ca9ae8c.point.png" ng-click="submitLike(comment) ">
			<br>
			{{comment.likes}} Likes
	</div>
	<p class="single-comment pl-30 float-left" ng-class="{'highlight':  comment._id == $root.follow}">
		{{comment.content}}
	</p>
	<p class="clear">
		<div class="text-muted">
			{{comment.created | date:'medium'}} - {{comment.name}} 
			- <span class="comments-total point" ng-init="showSub=false" ng-click="leaveComment=!leaveComment">Reply</span>
		</div>
		<div class="col-xs-12 col-sm-11 col-sm-offset-1 comment-container silver-back pad-box clear" ng-show="	leaveComment">
			<div>
				<label for="name{{$index}}">Name</label>
				<input type="text" class="form-control white-back" id="name{{$index}}" ng-model="reply.name" placeholder="Anonymous">
			</div>
			<div>
				<label for="email{{$index}}">Email</label>
				<input type="email" class="form-control white-back" id="email{{$index}}" ng-model="reply.email">
				<p class="info">Will only be used to notify you of replies</p>
			</div>
			<div>
				<label for="content{{$index}}">Reply</label>
				<textarea class="form-control white-back" id="content{{$index}}" ng-model="reply.content">
			</div>
			<div class="col-xs-12 error" ng-show="leaveComment && replyWarning && !reply.content">{{replyWarning}}	</div>
			<div class="half mt-10">
				<input type="submit" class="form-control white-back" id="enter{{$index}}" ng-click="submitReply(comment._id, comment.responseHead)" value="Reply">
			</div>
		</div>
	</p>
	
</div>


<div ng-include="'partials/footer'"></div>