<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>GeeryDev Admin Page</title>
    <meta name="description" content="Tyler Geery's personal blog for developers, enthusiasts, people with interests.  Rants about geerydev feelings and anything else that comes up.">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/2e68dc9e.vendor.css"/>
    <link rel="stylesheet" href="styles/85d6a0ef.main.css"/>
  </head>
<body>

    <!-- Add your site or application content here -->
    <div class="geery" id="geerydev-container">
        <%- content %>
    </div>

    <script>
        window.GeeryDev = window.GeeryDev || {};
        window.GeeryDev.state = <%- JSON.stringify(state) %>;
    </script>

    <!-- Add JS files here -->
    <script type="text/javascript" src="admin.js" async></script>
</body>
</html>
