<div id="geerydev-side-panel" class="right col-sm-3 hide-small absolute top250">
</div>

<!-- Section for about content pertaining to ME -->
<div class="col-xs-12 col-sm-9">
	<div class="col-xs-12">
		<h3 class="biggest center">About Me</h3>
		<p class="bigger pad-box">
			I'm a developer, a finance enthusiast, life learner, sports fan, and optimistic DO'er. I'm very casual and I pride myself on an easy-going and honest personality.  I work hard to keep a strong work-ethic, open mind, and aspire to make my own Jobsian "dent in the world."  I don't believe in intelligence, I believe in grit and creativity.  And most importantly, I believe the way to truly understand something is to write it on the web in front of 2 billion possible critics.
		</p>
		<p class="bigger pad-box">
			With that I should mention.  I'm not sure that I always believe what I say, but I write it here nonetheless.  Helps me think.  Even more so, I appreciate a good argument, so please leave a comment if I get too out of hand.  Or even a little, but please be civilized.  I know my views on the obsolete nature of the box-spring are not always welcomed.
		</p>
		<p class="bigger pad-box">
			I currently work for Tradesy in Santa Monica, CA.  I have interest in web development, games, and visualization. But more than that, solving hard problems
		</p>
		<p class="bigger pad-box">
			I am open to new opportunities and would appreciate the opportunity to work with you.  Please reach out to me with any questions/comments/concerns.
		</p>
		<p class="contact information clear bio pax-box">
			<a href="mailto:geerybot@gmail.com">
				<img src="images/91cefc0a.mail.png" class="pad-box pr-15">Email</a>
		</p>

	</div>

</div>
