<!-- Say hello to the new type of Blog -->
<div class="col-xs-12" id="geerydev-home-panel">
	<!-- These are the filterable options for the home page -->
    <%- homePanel %>
</div>


<div class="col-xs-12" id="geerydev-posts">
	<!-- All Blog Posts are layed out in a nice and simple fashion -->
    <%- postList %>
</div>
