@media (max-width: 768px) {
    .large-nav {
        display: none
    }
    .p-xs-none {
        padding: 0
    }
    .quote p {
        font-size: 1em;
        width: 95%;
        margin: auto;
        padding: 15px
    }
    .iscreen {
        min-width: 450px
    }
    .hide-small {
        display: none
    }
    .max-w-150 {
        max-width: 150px;
        margin: auto
    }
    .fixed-right {
        display: none
    }
}
@media (max-width: 500px) {
    .quote p {
        display: none
    }
    .min-h100 {
        max-width: 30%;
        margin-left: 1%;
        margin-right: 2%
    }
    .lh-100 button {
        display: block;
        margin: 5px 40px;
        text-align: center
    }
    .flag-pic {
        display: none
    }
    .px16 {
        font-size: 16px
    }
}
@media screen and (min-width: 768px) {
    .footer,
    .header,
    .marketing {
        padding-left: 0;
        padding-right: 0
    }
    .jumbotron {
        border-bottom: 0
    }
    .cloud-search {
        position: absolute;
        right: 0
    }
    .cloud-search-holder {
        position: absolute;
        top: 25px;
        right: 50px;
        margin: 0
    }
}
@media screen and (min-width: 1020px) {
    .cloud {
        display: block;
        position: absolute;
        top: 0;
        right: 0
    }
    .cloud-search-holder {
        position: absolute;
        top: 110px;
        right: 100px
    }
}
@media (min-width: 768px) {
    .responsive-nav {
        display: none
    }
    .quote p {
        margin: 10px 20px;
        padding: 10px 30px
    }
    .container {
        max-width: 730px
    }
    .quote p:after,
    .quote p:before {
        top: 142px
    }
    .blog-sum-back:hover {
        background: #f5f5f5
    }
    .ani-nav-deux,
    .ani-nav-tre,
    .ani-nav {
        transition: .5s linear all;
        display: block;
        left: 0;
        position: relative
    }
    .ani-quote {
        transition: .5s linear all;
        display: block;
        opacity: 1
    }
    .ani-nav.gdhide {
        opacity: 0;
        left: -20%;
        background: #E09503
    }
    .ani-nav-deux.gdhide {
        opacity: 0;
        left: -40%;
        background: #8BAD14
    }
    .ani-nav-tre.gdhide {
        opacity: 0;
        left: -60%;
        background: #E5311A
    }
    .ani-quote.gdhide {
        opacity: 0
    }
}
body {
    padding-top: 20px;
    padding-bottom: 20px
}
.footer,
.header,
.marketing {
    padding-left: 30px;
    padding-right: 30px
}
.header {
    border-bottom: 1px solid #e5e5e5
}
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    line-height: 40px;
    padding-bottom: 19px
}
footer {
    padding-top: 40px;
    clear: both;
    text-align: center
}
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px
}
.marketing {
    margin: 40px 0
}
.marketing p+h4 {
    margin-top: 28px
}
h3 a:hover {
    text-decoration: none
}
.weak {
    font-weight: 100
}
.bold {
    font-weight: 300
}
.boldest {
    font-weight: 400
}
.biggest {
    font-size: 2em;
    font-weight: 300
}
.bigger {
    font-size: 1.6em;
    font-weight: 200
}
.big {
    font-size: 1.2em;
    font-weight: 200em
}
.center {
    text-align: center
}
.point:hover {
    cursor: pointer
}
.m-top {
    margin-top: 20px
}
.p-left {
    padding-left: 15px
}
ul {
    padding-left: 10px
}
.shadow {
    box-shadow: 1px 1px 3px
}
.silver-back {
    background: #e5e5e5
}
.black-back {
    background: #323232
}
.white-back {
    background: #fff
}
.fixed {
    position: fixed
}
.absolute {
    position: absolute
}
.inline {
    display: inline
}
.pad-box {
    padding: 10px
}
.pad-box-40 {
    padding: 40px
}
.min300 {
    min-height: 300px
}
.m10 {
    margin-top: 10px;
    margin-bottom: 10px
}
.m40 {
    margin-bottom: 40px
}
.mt-10 {
    margin-top: 10px
}
.mt-20 {
    margin-top: 20px
}
.mt-40 {
    margin-top: 40px
}
.mb-20 {
    margin-bottom: 20px
}

.pl-0 {
    padding-left: 0;
}

.pl-15 {
    padding-left: 15px
}
.pr-15 {
    padding-right: 15px
}
.pl-30 {
    padding-left: 30px
}
.pt-15 {
    padding-top: 20px
}
.right-corner {
    right: 20px;
    top: 20px
}
.round {
    border-radius: 50%
}
.rounded {
    border-radius: 25%
}
.white {
    color: #fff
}
.black {
    color: #323232
}
.file-field {
    color: green;
    cursor: pointer;
    padding-left: 15px
}
.red {
    color: #a94442;
}
.full-image {
    width: 100%;
    height: 100%;
    min-height: 50px;
    min-width: 50px
}
.silver-border {
    border: 5px solid #323232
}
.icon {
    color: #323232;
    font-size: 4em
}
.double {
    font-size: 2em
}
.dubs {
    font-size: 1.3em
}
.rl-p10 {
    padding: 0 10px 5px
}
.clearfix {
    overflow: hidden;
    padding-bottom: 4px
}
.half {
    width: 50%
}
.max50 {
    max-width: 50px;
    max-height: 50px;
    line-height: 30px;
    vertical-align: middle
}
.double-indent {
    padding-left: 100px
}
.indent {
    padding-left: 50px
}
.overwrite {
    padding-left: 15px;
    margin-top: 20px
}
.clear {
    clear: both
}
.hover-black {
    border: 1px solid #323232
}
.hover-black:hover {
    box-shadow: 0 0 5px #000
}
.black-border-bottom {
    border-bottom: 1px solid #323232
}
.small-radius {
    border-radius: 5px
}
.min-h100 {
    width: 100px;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    margin-left: 10px
}
.lh-100 {
    line-height: 100px;
    vertical-align: middle;
    font-size: .7em
}
.lh-100 select {
    line-height: 30px;
    background: #e5e5e5;
    border: 1px solid #323232;
    border-radius: 5px
}
.lh-100 button:hover {
    box-shadow: 0 0 2px #000
}
.lh-100 button:focus {
    box-shadow: 0 0 2px #000;
    outline: 0
}
.green {
    background: #E1573C
}
.puke {
    background: #3C71E1
}
.nasty {
    background: #EFD364
}
.puke .m10,
.puke .min-h100,
.puke .min300 {
    background: #D6E1F7
}
.green .m10,
.green .min-h100,
.green .min300 {
    background: #F7DBD6
}
.nasty .min-h100,
.subscribe {
    background: #FFF5D0
}
.green div:not(.special),
.nasty div:not(.special),
.puke div:not(.special) {
    padding: 1px 15px
}
.green .min-h100:nth-child(1),
.nasty .min-h100:nth-child(3),
.puke .min-h100:nth-child(2) {
    background: #fff
}
.overflow-hidden {
    overflow: hidden
}
.float-left {
    float: left
}
.twilight {
    padding: 20px;
    background: #e5e5e5;
    font-style: italic;
    color: #323232;
    margin: 10px 0
}
.max_w_150 {
    max-width: 150px
}
.subscribe-button {
    background: #FFF5D0;
    border-radius: 5px;
    border: 0;
    margin-top: 15px;
    color: #787878
}
.subscribe {
    height: 80px;
    line-height: 40px;
    vertical-align: middle;
    font-size: 25px
}
.fun-img {
    max-width: 50px;
    max-height: 50px
}
.dark-black {
    color: #000
}
.cloud {
    display: none;
    z-index: 15000
}
.cloud-search-holder {
    min-height: 100px;
    min-width: 227px
}
.cloud-search {
    background: #323232;
    padding: 4px 7px;
    border-radius: 15px / 15px 15px;
    display: block;
    margin: 3px 0;
    border: 1px solid #e5e5e5;
    z-index: 16000;
    transition: background 1s;
    -webkit-transition: background 1s
}
.cloud-search:focus {
    outline: 0;
    background: #409DAE;
    color: #fff
}
.search-results {
    font-size: .7em;
    line-height: .9em;
    background: #7DB2BB;
    color: #fff;
    z-index: 50000;
    position: absolute;
    top: 50px;
    padding: 10px;
    width: 227px;
    border-radius: 5px / 5px 5px
}
.search-result {
    min-height: 2.5em;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    margin-bottom: 2px;
}
.search-result:hover .search-info {
    color: #e5e5e5
}
.search-info {
    width: 75%;
    color: #fff;
    float: left;
    padding-left: 2px
}
.search-small {
    font-size: .6em
}
.jumbo-date {
    width: 25%;
    height: 60%;
    background: #fff;
    color: #409DAE;
    padding: 4px 1px 1px 2px;
    float: left;
    font-size: 1.3em;
    text-align: center;
    margin: auto;
}
.prof-pic {
    border-radius: 50%;
    height: 2.5em
}
.my-name {
    padding-left: .25em;
    font-weight: 100;
    font-size: 2em;
    line-height: 100%;
    vertical-align: middle;
    color: #323232
}
.blog-date {
    padding: 20px 0;
    margin: 5px 0;
    border-radius: 15px;
    font-size: 1.5em
}
.navbar {
    background: #e5e5e5
}
.head-nav,
.support-nav {
    float: left;
    background: #323232
}
.head-nav:hover {
    background: #409DAE
}
.head-nav a,
.support-nav a {
    width: 100%
}
.head-nav img,
.support-nav img {
    max-width: 100%;
    width: 100%;
    cursor: pointer
}
.inactive {
    display: none
}
.quote {
    font-size: 1.2em;
    font-style: italic;
    font-weight: 400;
    text-align: justified;
    height: 100%;
    z-index: 10000
}
.quote p {
    margin-top: 1em;
    color: #409DAE;
    height: 140px;
    text-align: center;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888
}
.quote p:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 100px;
    top: 132px;
    border: 25px solid;
    border-color: #666 #666 transparent transparent
}
.quote p:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 108px;
    top: 132px;
    border: 15px solid;
    border-color: #fff #fff transparent transparent
}
.quote-darker {
    font-weight: 600;
    z-index: 20000
}
.resume-detail {
    box-shadow: inset 0 0 10px #000;
    overflow: hidden;
    margin-bottom: 20px;
    background: #f5f5f5
}
.clarity {
    box-shadow: inset -10px 0 1px -20px #e5e5e5;
    transition: box-shadow .1s, color .2s;
    -webkit-transition: box-shadow .1s, color .2s;
    text-align: center;
    color: #646464
}
.clarity:hover {
    box-shadow: inset -20px 0 5px -20px #323232;
    color: #323232
}
.clarity img {
    max-width: 100%
}
.un:hover {
    background: #E09503
}
.deux:hover {
    background: #8BAD14
}
.tre:hover {
    background: #E5311A
}
.bio {
    font-weight: 100;
    font-size: 1.8em;
    margin-bottom: 30px
}
.blog-sum-back {
    display: block;
    border-top: 1px solid #323232;
    overflow: hidden
}
.comments-total {
    color: #409DAE
}
.right {
    right: 0
}
.top0 {
    top: 0
}
.top250 {
    top: 250px
}
.response {
    overflow: hidden;
    white-space: pre-wrap
}
.response iframe,
.response img {
    padding: 5px;
    display: block;
    max-width: 90%;
    margin: 20px auto 5px;
    background: #e5e5e5
}
.response p {
    clear: both;
    padding-top: 15px;
    overflow: hidden
}
.response .highlight {
    color: #409DAE
}
.response a {
    color: #2D6F7B;
    text-decoration: none
}
.response i {
    font-style: italic
}
.response .apart {
    padding: 20px;
    color: #646464;
    border-radius: 10px;
    background: #e5e5e5
}

.gd-fade-down-in {
    overflow: hidden;
    max-height: 1000px;
    background: #e5e5e5;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.comment-form label {
    width: 100%;
}

.info {
    font-size: 12px;
}

.highlight {
    background: #e5e5e5
}
.code {
    font-family: 'Times New Roman';
    color: #5b3dff;
    font-size: .8em;
    border: 1px solid #e5e5e5
}
.cal-date-box {
    font-size: .8em;
    padding: 5px 10px
}
.response,
.single-comments,
.single-question {
    padding-left: 30px;
    padding-right: 30px
}
.single-question {
    border-bottom: 5px solid #323232;
    margin-bottom: 20px
}
.single-question-headline {
    font-size: 3.2em;
    font-style: italic
}
.single-comment {
    padding: 5px;
    padding-left: 10px
}
.single-comment:hover {
    background: #e5e5e5;
    cursor: pointer
}
.shooter {
    opacity: .9;
    transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out
}
.shooter:hover {
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg)
}
.project-tab-bar {
    padding: 10px 0;
    border-bottom: 1px solid #323232;
    line-height: 50px;
    font-size: 25px;
    vertical-align: middle
}
.project-tab-detail {
    overflow: hidden;
    max-height: 1000px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.gd-hidden {
    opacity: 0;
    max-height: 0;
}

.box-hide-setup,
.box-show-setup {
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s
}
.box-show-setup {
    opacity: 0;
    height: 0
}
.box-show-setup.box-show-start {
    opacity: 1;
    height: auto
}
.box-hide-setup {
    opacity: 1;
    height: 0
}
.box-hide-setup.box-hide-start {
    opacity: 0;
    height: auto
}
.boom-hide-setup,
.boom-show-setup {
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s
}
.boom-show-setup {
    opacity: 0
}
.boom-hide-setup,
.boom-show-setup.boom-show-start {
    opacity: 1
}
.boom-hide-setup.boom-hide-start {
    opacity: 0
}
.admin-nav {
    height: 100px;
    vertical-align: middle;
    overflow: hidden
}
.admin-nav button {
    padding: 10px 20px;
    margin: 20px 10px;
    border-radius: 10px;
    background: #fff;
    border: 0
}
.admin-nav button:hover {
    color: #e5e5e5
}
.admin-nav button:focus {
    outline: 0
}
.post-pad {
    padding: 5px;
    border-radius: 2px;
    overflow: hidden;
    vertical-align: middle;
    border: solid 1px #323232
}
.eighty {
    width: 80%;
    margin: 0 10%;
    background: rgba(240, 240, 240, 1);
    z-index: 50000;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 0 8px #000
}
.blue-add {
    padding: 5px 10px;
    border-radius: 50%;
    color: #fff;
    background: #009393
}
.red-delete {
    padding: 5px 10px;
    border-radius: 50%;
    color: #fff;
    background: #FF5828
}
.iphone {
    background: #000;
    border-radius: 20px;
    padding: 30px 10px;
    overflow: hidden;
    margin-bottom: 40px;
    max-width: 600px
}
.iscreen {
    background: #fff;
    overflow: hidden;
    min-height: 600px
}
.iapp img {
    width: 100%;
    border-radius: 5px
}
.ibutton {
    padding: 10px;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    margin: 20px auto 0;
    border: 1px solid #323232
}
.isquare {
    width: 30px;
    border: 1px solid #e5e5e5;
    height: 30px
}
@media (max-width: 768px) {
    .large-nav {
        display: none
    }
    .p-xs-none {
        padding: 0
    }
    .quote p {
        font-size: 1em;
        width: 95%;
        margin: auto;
        padding: 15px
    }
    .iscreen {
        min-width: 450px
    }
    .hide-small {
        display: none
    }
    .max-w-150 {
        max-width: 150px;
        margin: auto
    }
    .fixed-right {
        display: none
    }
}
.container-narrow>hr {
    margin: 30px 0
}
@media (max-width: 500px) {
    .quote p {
        display: none
    }
    .min-h100 {
        max-width: 30%;
        margin-left: 1%;
        margin-right: 2%
    }
    .lh-100 button {
        display: block;
        margin: 5px 40px;
        text-align: center
    }
    .flag-pic {
        display: none
    }
    .px16 {
        font-size: 16px
    }
}
@media screen and (min-width: 768px) {
    .footer,
    .header,
    .marketing {
        padding-left: 0;
        padding-right: 0
    }
    .jumbotron {
        border-bottom: 0
    }
    .cloud-search {
        position: absolute;
        right: 0
    }
    .cloud-search-holder {
        position: absolute;
        top: 25px;
        right: 50px;
        margin: 0
    }
}
@media screen and (min-width: 1020px) {
    .cloud {
        display: block;
        position: absolute;
        top: 0;
        right: 0
    }
    .cloud-search-holder {
        position: absolute;
        top: 110px;
        right: 100px
    }
}
@media (min-width: 768px) {
    .responsive-nav {
        display: none
    }
    .quote p {
        margin: 10px 20px;
        padding: 10px 30px
    }
    .container {
        max-width: 730px
    }
    .quote p:after,
    .quote p:before {
        top: 142px
    }
    .blog-sum-back:hover {
        background: #f5f5f5
    }
    .ani-nav-deux,
    .ani-nav-tre,
    .ani-nav {
        transition: .5s linear all;
        -webkit-transition: .5s linear all;
        display: block;
        left: 0;
        position: relative
    }
    .ani-quote {
        transition: .5s linear all;
        -webkit-transition: .5s linear all;
        display: block;
        opacity: 1
    }
    .ani-nav.gdhide {
        opacity: 0;
        left: -20%;
        background: #E09503
    }
    .ani-nav-deux.gdhide {
        opacity: 0;
        left: -40%;
        background: #8BAD14
    }
    .ani-nav-tre.gdhide {
        opacity: 0;
        left: -60%;
        background: #E5311A
    }

    .gdhide {
        display: none !important;
    }
}

.required {
    background: #ffbcbb!important;
}
