<div ng-include="'partials/admin/nav'"></div>


<!-- This is the section for moderation of projects -->
<!-- This will need CRUD ability -->
<div class="col-xs-12" ng-show="showProjects">
	<h2 class="text-muted">Projects</h2>
	<table>
		<tr>
			<th class="pad-box">Image</th>
			<th class="pad-box">Title</th>
			<th class="pad-box">Type</th>
			<th class="pad-box">Link</th>
			<th class="pad-box">Detail</th>
		</tr>
		<tr ng-repeat="p in projects">
			<td class="pad-box"><img ng-src="p.image"></td>
			<td class="pad-box">
				<input type="hidden" ng-model="p._id">
				<input type="text" ng-model="p.title">
			</td>
			<td class="pad-box">
				<select ng-model="p.type">
					<option value="web">Web</option>
					<option value="mobile">Mobile</option>
					<option value="finance">Finance</option>
				</select>
			</td>
			<td class="pad-box">
				<input type="text" ng-model="p.link">
			</td>
			<td>
				<textarea class="pad-box" ng-model="p.detail"></textarea>
			</td>
			<td class="pad-box point"><span class="center max50" ng-click="saveProject(p)">Save</span></td>
			<td class="pad-box point"><span class="center max50" ng-click="deleteProject(p)">Delete</span></td>
		</tr>
		<tr>
			<td class="pad-box">+ New Post</td>
			<td class="pad-box">
				<input type="text" ng-model="newProject.title">
			</td>
			<td class="pad-box">
				<select ng-model="newProject.type">
					<option value="web">Web</option>
					<option value="mobile">Mobile</option>
					<option value="finance">Finance</option>
				</select>
			</td>
			<td class="pad-box">
				<input type="text" ng-model="newProject.link">
			</td>
			<td>
				<textarea class="pad-box" ng-model="newProject.detail"></textarea>
			</td>
			<td class="pad-box point"><span class="center max50" ng-click="saveProject(newProject); newProject={};">Create</span></td>
		</tr>

	</table>
</div>


<!-- This is the section for listing of subscribers -->
<!-- To be honest, you don't even need CRUD ability here -->
<div class="col-xs-12" ng-show="showSubscribers">
	<h2 class="text-muted">Subscribers</h2>
	<table>
		<tr>
			<th class="pad-box">Email</th>
			<th class="pad-box">Date</th>
		</tr>
		<tr ng-repeat="s in subscribers">
			<td class="pad-box">{{s.email}}</td>
			<td class="pad-box">{{s.created}}</td>
		</tr>
	</table>
</div>
