<div ng-include="'partials/admin/nav'"></div>

<!-- This is the section for approval of comments -->
<div class="col-xs-12" ng-show="showComments">
	<h2 class="text-muted">Approve Comments</h2>
	<select ng-model="activeBlog" ng-options="b.question for b in blogTitles" ng-change="newComments()"></select>
	<table>
		<tr>
			<th class="pad-box">ID</th>
			<th class="pad-box">Name</th>
			<th class="pad-box">Content</th>
			<th class="pad-box">Email</th>
			<th class="pad-box">Created</th>
			<th class="pad-box">Delete</th>
		</tr>
		<tr ng-repeat="c in activeComments">
			<td class="pad-box">{{c._id}}</td>
			<td class="pad-box">{{c.name}}</td>
			<td class="pad-box">{{c.content}}</td>
			<td class="pad-box">{{c.email}}</td>
			<td class="pad-box">{{c.created | date:'mediumDate'}}</td>
			<td class="pad-box point"><span class="red-delete center max50" ng-click="deleteComment(c._id)">-</span></td>
		</tr>
	</table>
</div>


<!-- This is the section for creating New Blog Posts -->

<div class="eighty form absolute" ng-show="newForm">
	<span class="absolute right-corner pad-box point black-back white round" ng-click="illustrateResource()">
		X
	</span>
	<h2 class="text-muted center">Post Controller</h2>
	<form ng-upload="bar(content)" action="/api/images">
		<p>
           <label>Your picture (file will not be saved on the server):</label>
           <input type="file" ng-file-select="onFileSelect($files)" multiple="multiple">
       </p>
       <p>
           <input type="submit" class="btn" value="Submit" name="fuck" ng-disabled="$isLoading">
       </p>
	</form>

	<p class="file-field" ng-repeat="file in filenames" ng-init="red=true" ng-click="red=!red; fileClicked(file);" ng-class="{'red': red}">
		<span>{{file}}</span>
	</p>
	<div class="form-group pad-box">
		<label for="question">Post Title:</label>
		<p id="question" class="text-muted" ng-show="exists">{{blog.question}}</p>
		<input type="text" class="form-control" id="question" ng-hide="exists" ng-model="blog.question">
	</div>
	<div class="form-group pad-box">
		<label for="asker">Asked By:</label>
		<p id="askedBy" class="text-muted" ng-show="exists">{{blog.askedBy}}</p>
		<input type="text" class="form-control" id="askedBy" ng-hide="exists" ng-model="blog.askedBy">
	</div>
	<div class="form-group pad-box">
		<label for="response">Response Content</label>
		<textarea id="response" class="form-control min300" ng-model="blog.response" my-text="">{{blog.response}}</textarea>
	</div>
	<div>
		<input type="submit" class="form-control silver-back" value="Save Post" ng-click="setPost()">
	</div>

</div>

<!-- This displays all of the existing requests to become Blog Posts -->
<div class="col-xs-12" ng-show="showPosts">
	<h2 class="text-muted">
		Create a New Post
		<span class="pull-right point" ng-if="toDo=='add'" ng-click="toggle()">Toggle</span>
		<span class="pull-right point" ng-if="toDo=='delete'" ng-click="toggle()">Toggle</span>
	</h2>
	<p class="text-muted black-back post-pad point" ng-click="makeEmptyPost()">
		Make a new post & question
		<span class="pull-right blue-add">+</span>
	</p>
	<div class="text-muted" ng-repeat="post in posts">
		<p ng-class="{'silver-back':post.response}" class="silver-back post-pad point" ng-click="makePost(post)">
			{{post.question}} - {{post.created | date:'mediumDate'}}
			<span class="pull-right blue-add" ng-if="toDo=='add'">+</span>
			<span class="pull-right red-delete" ng-if="toDo=='delete'" ng-click="deletePost($index)">-</span>
		</p>
	</div>
</div>

<div class="col-xs-12" ng-show="editUsers">
	<h2 class="text-muted">Edits Users</h2>
	<table>
		<tr>
			<th class="pad-box">Name</th>
			<th class="pad-box">Email</th>
			<th class="pad-box">Password</th>
			<th class="pad-box">Delete</th>
		</tr>
		<tr ng-repeat="user in users">
			<td class="pad-box">{{user.name}}</td>
			<td class="pad-box">{{user.email}}</td>
			<td class="pad-box">{{user.hashedPassword}}</td>
			<td class="red-delete center point" ng-click="deleteUser(user._id)">-</td>
		</tr>
	</table>
</div>


<!-- This is the section for moderation of projects -->
<!-- This will need CRUD ability -->
<div class="col-xs-12" ng-show="showProjects">
	<h2 class="text-muted">Projects</h2>
	<table>
		<tr>
			<th class="pad-box">Image</th>
			<th class="pad-box">Title</th>
			<th class="pad-box">Type</th>
			<th class="pad-box">Link</th>
			<th class="pad-box">Detail</th>
		</tr>
		<tr ng-repeat="p in projects">
			<td class="pad-box"><img ng-src="p.image"></td>
			<td class="pad-box">
				<input type="hidden" ng-model="p._id">
				<input type="text" ng-model="p.title">
			</td>
			<td class="pad-box">
				<select ng-model="p.type">
					<option value="web">Web</option>
					<option value="mobile">Mobile</option>
					<option value="finance">Finance</option>
				</select>
			</td>
			<td class="pad-box">
				<input type="text" ng-model="p.link">
			</td>
			<td>
				<textarea class="pad-box" ng-model="p.detail"></textarea>
			</td>
			<td class="pad-box point"><span class="center max50" ng-click="saveProject(p)">Save</span></td>
			<td class="pad-box point"><span class="center max50" ng-click="deleteProject(p)">Delete</span></td>
		</tr>
		<tr>
			<td class="pad-box">+ New Post</td>
			<td class="pad-box">
				<input type="text" ng-model="newProject.title">
			</td>
			<td class="pad-box">
				<select ng-model="newProject.type">
					<option value="web">Web</option>
					<option value="mobile">Mobile</option>
					<option value="finance">Finance</option>
				</select>
			</td>
			<td class="pad-box">
				<input type="text" ng-model="newProject.link">
			</td>
			<td>
				<textarea class="pad-box" ng-model="newProject.detail"></textarea>
			</td>
			<td class="pad-box point"><span class="center max50" ng-click="saveProject(newProject); newProject={};">Create</span></td>
		</tr>

	</table>
</div>


<!-- This is the section for listing of subscribers -->
<!-- To be honest, you don't even need CRUD ability here -->
<div class="col-xs-12" ng-show="showSubscribers">
	<h2 class="text-muted">Subscribers</h2>
	<table>
		<tr>
			<th class="pad-box">Email</th>
			<th class="pad-box">Date</th>
		</tr>
		<tr ng-repeat="s in subscribers">
			<td class="pad-box">{{s.email}}</td>
			<td class="pad-box">{{s.created}}</td>
		</tr>
	</table>
</div>
