<!-- /* Admin Nav Page */ -->
<!-- /* Place to Approve Comments */ -->
<!-- /* Place to Create & Edit Posts */ -->


<div class="black-back admin-nav"> 
	<h1 class="white pull-left pl-15">Admin Control Center</h1>
	<button class="pull-right mt-20" ng-click="logout()">Logout</button>
	<button class="pull-right mt-20" ng-click="showAdmin(2)">Users</button>
	<button class="pull-right mt-20" ng-click="showAdmin(1)">Posts</button>
	<button class="pull-right mt-20" ng-click="showAdmin(0)">Comments</button>
</div>